body {
    display: flex;
    background-color: dimgrey;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    font-family: sans-serif;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    height: 100%;
    width: 300px;
    display: inline;
}

.small-con1 {
    margin-bottom: 50px;
    background-color: darkblue;
    width: 100%;
    height: 120px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.small-con1 span {
    font-size: 30px;
}

.small-con2 {
    margin-bottom: 50px;
    background-color: darkblue;
    width: 100%;
    height: 140px;
    font-family: cursive;
    color: white;
}

.small-con3 {
    margin-bottom: 50px;
    background-color: darkblue;
    width: 100%;
    height: 90px;
    text-align: center;
    font-family: cursive;
    color: white;
}

.small-con4 {
    margin-bottom: 50px;
    background-color: darkblue;
    width: 100%;
    height: 330px;
    text-align: center;
    font-family: cursive;
    color: white;
}

.small-con5 {
    margin-bottom: 50px;
    background-color: darkblue;
    width: 100%;
    height: 140px;
    text-align: center;
    font-family: cursive;
    color: white;
}

.about-myself {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: darkblue;
    text-align: center;
    display: inline;
    margin-top: 125px;
    color: white;
}

.EDUCATION {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: darkblue;
    text-align: center;
    display: inline;
    margin-top: 315px;
    color: white;
}

.FAMILY-DETAILS {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: darkblue;
    text-align: center;
    display: inline;
    margin-top: 455px;
    color: white;
}

.CONTACT-DETAILS {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: darkblue;
    text-align: center;
    display: inline;
    margin-top: 835px;
    color: white;
}

h3 {
    padding-left: 750px;
}

.imgbx {
    position: absolute;
    right: 60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.imgbx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    padding-top: 30px;
    padding-left: 450px;
}

.aboutmyself-content {
    position: absolute;
    transform: translate(400px, 190px);
}

.label {
    margin-bottom: 12px;
}

label {
    font-family: cursive;
    color: darkblue;
}

.education-content {
    position: absolute;
    transform: translate(400px, 360px);
}

.family-content {
    position: absolute;
    transform: translate(400px, 545px);
}

.label1 {
    margin-bottom: 30px;
}

.contact-content {
    position: absolute;
    transform: translate(400px, 890px);
}