body {
    background-color: #808080;
    padding-top: 2rem;
}

table {
    width: 100%;
}

hr {
    position: relative;
    margin: 0.5rem;
    width: 100%;
}

#download-html {
    margin-top: 2rem;
}